/* 
* author : Mahesh Rodrigo
*/

/* --- start of general styles --- */
body {
	margin: 0;
	padding: 0;
}

div, p, span, h1, h2, h3, ul, li {
	margin: 0;
	padding: 0;	
}

ul, li {
	list-style-type: none;
}

h1, h2, h3 {
	font-weight: normal;
}

a {
	color: #5C6773;
	outline: none;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: none;
}

/* --- end of general styles --- */

/* --- start of framesheet --- */

#framesheet {
	width: 100%;
}

#main-wrapper {
	margin: 0 auto;
	width: 960px;
}