<div class="row">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="col-md-8">
      <div class="form-group">
        <label for="charityName">Charity Name *</label>
        <input type="text" class="form-control" id="charityName" name="charityName" ngModel>
      </div>
      <div class="form-group">
        <label for="missionStatement">Mission Statement</label>
        <input type="text" class="form-control" id="missionStatement" name="missionStatement" ngModel>
      </div>
      <div class="form-group">
        <label for="charityType">Charity Type *</label>
        <select class="form-control" id="charityType" name="charityType" ngModel>
          <option value="Animal Services">Animal Services</option>
          <option value="Children">Children</option>
          <option value="Civil and Human Rights">Civil and Human Rights</option>
          <option value="Education">Education</option>
          <option value="Health">Health</option>
          <option value="Human Services">Human Services</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="address1">Address 1 *</label>
        <input type="text" class="form-control" id="address1" name="address1" ngModel>
      </div>
      <div class="form-group">
        <label for="address2">Address 2</label>
        <input type="text" class="form-control" id="address2" name="address2" ngModel>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" name="city" ngModel>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" name="state" ngModel>
      </div>
      <div class="form-group">
        <label for="zipCode">Zip Code *</label>
        <input type="text" class="form-control" id="zipCode" name="zipCode" ngModel>
      </div>
      <div class="form-group">
        <label for="contactPerson">Contact Person *</label>
        <input type="text" class="form-control" id="contactPerson" name="contactPerson" ngModel>
      </div>
      <div class="form-group">
        <label for="email">Email *</label>
        <input type="text" class="form-control" id="email" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" name="password" ngModel>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" ngModel>
      </div>
      <div class="form-group">
        <label for="website">Website</label>
        <input type="text" class="form-control" id="website" name="website" ngModel>
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </form>
</div>